@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,900;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+JP&family=The+Nautigal:wght@700&display=swap');


* {
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


/* los elementos padres heredaron sus estilos a los elementos hijos*/

.herencia {
    color: red;
    margin: 20px;
    text-align: center;
}
 

/* cascada */

.cascada {
    margin: 20px;
    color: royalblue;
    text-align: center;
}

.espesificidad {
    text-align: end;
}

.espesificidad {
    color: rebeccapurple;
}


span {
    color: skyblue;
}

h2 span {
    color: springgreen;
}

.espesificidad-selectores {
    margin: 50px 0;
}

/* complementos de selectores */

.complementos > p{
    color: red;
}

/* box model */

/* arriba, derecha, abajo, izquierda */

.box1 {
    width: 300px;
    height: 300px;
    background-color: royalblue;
    margin: 0 auto;
    padding: 10px;
}

.box2 {
    width: 300px;
    height: 300px;
    background-color: red;
}

.fondo-img{
    color: #f9fd18;
    width: 100%;
    margin: auto;
    height: 95vh;
    background-image: url(../fondo-img/mat-hayward-0tcGzm7Honw-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bienvenida{
    position: relative;
    top: 100px;
}